<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group8.karina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="group8.karina.application.KarinaApp">

        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.UserActivity"/>
        <activity android:name=".presentation.UserList"/>
        <activity android:name=".presentation.ExpenseActivity"/>
        <activity android:name=".presentation.ExpenseList"/>
        <activity android:name=".presentation.CategoryActivity"/>
        <activity android:name=".presentation.CategoryList"/>
        <activity android:name=".presentation.IncomeActivity"/>
        <activity android:name=".presentation.IncomeList"/>
        <activity android:name=".presentation.ReportsActivity"/>
        <activity android:name=".presentation.TotalTransactionReportActivity"/>
        <activity android:name=".presentation.TransactionByCategoryReportActivity"/>
    </application>

</manifest>